* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

.comment-page {
    padding: 1.5vw 9vw 5vw 9vw;
}

.comment-page-center {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 37vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.comment-page-center h1 {
    font-size: 2.5vw;
}

.comment-page-center p {
    font-size: 1.25vw;
    margin-top: 2vw;
    color: rgb(89, 89, 89);
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    height: 12vw;
    resize: none;
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 0.3vw;
    padding: 2vw;
    font-size: 1.2vw;
    line-height: 1.75vw;
    color: rgb(165, 165, 165);
}

.comment-form textarea::placeholder {
    opacity: 1;
    color: rgb(165, 165, 165);
}

.comment-form button {
    border: none;
    outline: none;
    background: black;
    color: white;
    padding: 1.4vw;
    border-radius: 0.3vw;
    font-weight: bold;
    font-size: 1.2vw;
    cursor: pointer;
}