* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

.add-camp-container {
    padding: 1.5vw 9vw 5vw 9vw;
}

.add-camp-center {
    text-align: left;
    width: 621px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.add-camp-center form {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    gap: 17px;
}

.add-camp-center h1 {
    font-size: 42px;
}

.add-camp-center form label {
    font-size: 21px;
    color: rgb(89, 89, 89);
    margin-top: 8px;
}

.add-camp-center form input {
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 0.3vw;
    padding: 25px;
    font-size: 20px;
    line-height: 29px;
    color: rgb(165, 165, 165);
}

.add-camp-center form input::placeholder {
    color: rgb(165, 165, 165);
}

.add-camp-center form textarea {
    height: 201px;
    resize: none;
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 0.3vw;
    padding: 25px;
    font-size: 20px;
    line-height: 29px;
    color: rgb(165, 165, 165);
}

.add-camp-center form textarea::placeholder {
    opacity: 1;
    color: rgb(165, 165, 165);
}

.add-camp-center form button {
    border: none;
    outline: 0.1vw solid black;
    background: black;
    color: white;
    padding: 23px;
    border-radius: 0.3vw;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 8px;
}

.add-camp-center form button:hover {
    background: white;
    color: black;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1250px) {
    .add-camp-center {
        text-align: left;
        width: 621px;
        margin-left: 0;
        margin-right: 0;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
}

@media screen and (max-width: 757px) {
    .add-camp-center {
        text-align: left;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
}