* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    border: 1.5px solid rgb(220, 220, 220);
    border-radius: 0.3vw;
    padding: 16px;
    text-align: left;
    gap: 16px;
}

.card-container img {
    max-height: 235px;
    object-fit: cover;
    border-radius: 0.4vw;
}

.card-container h1 {
    font-size: 22px;
    font-weight: bold;
}

.card-container p {
    font-size: 22px;
    line-height: 33px;
    color: rgb(91, 91, 91);
}

.card-container button {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 0.3vw;
    font-weight: bold;
    font-size: 22px;
    border: 0.1vw solid rgb(220, 220, 220);
    cursor: pointer;
}

.card-container button:hover {
    background: black;
    color: white;
    border: 0.1vw solid black;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 419px) {
    .card-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: auto;
        border: 1.5px solid rgb(220, 220, 220);
        border-radius: 0.3vw;
        padding: 16px;
        text-align: left;
        gap: 4vw;
    }

    .card-container img {
        max-height: 40vw;
        width: auto;
        object-fit: cover;
        border-radius: 1vw;
    }

    .card-container h1 {
        font-size: 5vw;
        font-weight: bold;
    }

    .card-container p {
        font-size: 5vw;
        line-height: 7.5vw;
        color: rgb(91, 91, 91);
    }

    .card-container button {
        background: white;
        color: black;
        padding: 5vw;
        border-radius: 1vw;
        font-weight: bold;
        font-size: 5vw;
        border: 0.1vw solid rgb(220, 220, 220);
        cursor: pointer;
    }
}