* {
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 100%;
}

.header-left img {
    width: 8vw;
}

.header-left button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.25vw;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 100%;
}

.login-button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.25vw;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

.create-account-button {
    border: none;
    outline: none;
    background: black;
    color: white;
    height: 80%;
    padding: 1.4vw;
    border-radius: 0.3vw;
    font-weight: bold;
    font-size: 1.25vw;
    cursor: pointer;
}

.user-email {
    font-size: 1.25vw;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.logout {
    color: rgb(116, 116, 116);
    font-size: 1.25vw;
    cursor: pointer;
}
