.helper-banner-container {
    background-color: rgb(249, 246, 241);
    border-radius: 0.5vw;
    display: flex;
    padding: 5vw;
    margin: 33px 0vw 33px 0vw;
}

.helper-banner-inner {
    display: flex;
    flex: 0 0 40%;
    align-items: flex-start;
    flex-direction: column;
    gap: 14px;
    text-align: left;
}

.helper-banner-inner h1 {
    font-size: 42px;
    font-weight: bold;
}

.info {
    color: rgb(104, 101, 96);
    font-size: 20px;
    line-height: 29px;
}

.search-bar {
    display: flex;
    gap: 17px;
    position: relative;
}

.search-bar input {
    padding: 17px 17px 17px 59px;
    font-size: 20px;
    opacity: 1;
    color: rgb(91, 91, 91);
    border-radius: 0.3vw;
    border-color: rgb(204, 204, 202);
    border-style: solid;
}

.search-bar input::placeholder {
    opacity: 1;
    color: rgb(91, 91, 91);
}

.search-bar i {
    color: #585858;
    font-size: 20px;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    padding: 0vw 17px 0vw 28px;
}

.add-campground {
    color: rgb(104, 101, 96);
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    cursor: pointer;
}

.add-campground:hover {
    color: rgb(201, 174, 128);
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1538px) {
    .helper-banner-inner {
        display: flex;
        flex: 0 0 70%;
        align-items: flex-start;
        flex-direction: column;
        gap: 14px;
        text-align: left;
    }
}

@media screen and (max-width: 1079px) {
    .helper-banner-inner {
        display: flex;
        flex: 0 0 100%;
        align-items: flex-start;
        flex-direction: column;
        gap: 14px;
        text-align: left;
    }
}

@media screen and (max-width: 419px) {
    .search-bar {
        display: flex;
        gap: 1vw;
        position: relative;
    }

    .search-bar input {
        padding: 4vw 5vw 4vw 12vw;
        font-size: 4.5vw;
        opacity: 1;
        color: rgb(91, 91, 91);
        border-radius: 1vw;
        border-color: rgb(204, 204, 202);
        border-style: solid;
    }

    .search-bar i {
        color: #585858;
        font-size: 4.5vw;
        position: absolute;
        top: 48%;
        transform: translateY(-50%);
        padding: 0vw 1vw 0vw 4vw;
    }

    .helper-banner-inner h1 {
        font-size: 9vw;
        font-weight: bold;
    }

    .info {
        color: rgb(104, 101, 96);
        font-size: 4.5vw;
        line-height: 7vw;
    }

    .add-campground {
        color: rgb(104, 101, 96);
        font-size: 4.5vw;
        text-decoration-line: underline;
        text-decoration-skip-ink: none;
        cursor: pointer;
    }

    .helper-banner-container {
        background-color: rgb(249, 246, 241);
        border-radius: 0.5vw;
        display: flex;
        padding: 9vw;
        margin: 2vw 0vw 6vw 0vw;
    }
}