* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

h1 {
    font-weight: 600; 
    font-size: 59px;
}

.landing-page {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.mobile-hero-image {
    display: none;
}

.landing-page-left {
    display: flex;
    flex: 40%;
    background-color: rgb(249, 246, 241);
    flex-direction: column;
}

.landing-yelp-camp-icon {
    width: 134px;
    padding-left: 12vw; /* matches with 1 */
    padding-top: 33px;
    /* Can't figure out how to include padding-bottom without creating white space at bottom */
}

.landing-page-left-centered {
    padding-left: 12vw; /* matches with 1 */
    padding-right: 12vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left; 
}

.landing-page-left-centered p {
    margin-top: 1vw;
    font-size: 20px;
    line-height: 33px;
    color: rgb(102, 99, 94);
}

.landing-page-left-centered button {
    border: none;
    outline: 0.1vw solid black;
    background: black;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 21px;
    border-radius: 0.25vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    cursor: pointer;
}

.landing-page-left-centered button:hover {
    background: white;
    color: black;
    transition: all 0.3s ease 0s;
}

.landing-page-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-top: 1vw;
    /* Removed to get rid of extra white space at bottom */
    /*padding-bottom: 1vw;*/
}

.landing-page-list li {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: rgb(102, 99, 94)
}

.landing-page-list li:before {
    content: '';
    width: 25px;
    height: 25px;
    background-image: url(media/Checkmark.svg);
    background-size: cover;
    background-position: center;
    display: block;
    margin-right: 1vw;
}

.sponsor-gallery {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.sponsor-gallery img {
    width: 117px;
    padding: 0;
}

@media screen and (max-width: 1230px){
    .landing-page {
        display: flex;
        position: relative;
        height: 100vh;
        width: 100vw;
        flex-direction: column; 
    }
 
    .landing-page-left {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgb(249, 246, 241);
        flex-direction: column;
    }

    .desktop-hero-image {
        display: none;
    }

    .mobile-hero-image {
        display: flex;
        width: 100%;
        height: 50vw;
        object-fit: cover;
        /* Removed to get rid of white space at bottom*/
        /*padding-top: 33px;*/
    }

    .landing-page-left-centered {
        padding-left: 5vw; 
        padding-right: 5vw;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left; 
    }
}