* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

h1 {
    font-weight: 600; 
    font-size: 3.5vw;
}

.landing-page {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.landing-page-left {
    display: flex;
    flex: 40%;
    background-color: rgb(249, 246, 241);
    flex-direction: column;
}

.landing-page-left img {
    width: 10vw;
    padding-left: 12vw; /* matches with 1 */
    padding-top: 2vw;
}

.landing-page-left-centered {
    padding-left: 12vw; /* matches with 1 */
    padding-right: 12vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left; 
}

.landing-page-left-centered p {
    margin-top: 1vw;
    font-size: 1.2vw;
    line-height: 2vw;
    color: rgb(102, 99, 94)
}

.landing-page-left-centered button {
    border: none;
    outline: none;
    background: black;
    color: white;
    font-weight: 600;
    font-size: 1.2vw;
    padding: 1.3vw;
    border-radius: 0.25vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    cursor: pointer;
}

.landing-page-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.landing-page-list li {
    display: flex;
    flex-direction: row;
    font-size: 1.2vw;
    color: rgb(102, 99, 94)
}

.landing-page-list li:before {
    content: '';
    width: 1.5vw;
    height: 1.5vw;
    background-image: url(media/Checkmark.svg);
    background-size: cover;
    background-position: center;
    display: block;
    margin-right: 1vw;
}

.sponsor-gallery {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.sponsor-gallery img {
    width: 7vw;
    padding: 0;
}