* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

.search-page {
    padding: 1.5vw 9vw 1.5vw 9vw;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.vw;
    margin: 5vw 0vw 5vw 0vw;
}