* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

.search-page {
    padding: 1.5vw 9vw 5vw 9vw;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 5vw 0vw 5vw 0vw;
    justify-content: flex-start;
}

.yelp-camp-icon {
    display: flex;
    justify-content: flex-start;
    width: 134px;
}

@media screen and (max-width: 419px) {
    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        gap: 6vw;
        margin: 5vw 0vw 5vw 0vw;
        /*justify-content: space-between;*/
    }

    .search-page {
        padding: 1.5vw 5vw 5vw 5vw;
    }
}