* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

.sign-up-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.sign-up-left {
    display: flex;
    flex-direction: column;
    flex: 60%;
    height: 100%;
}

.sign-up-right {
    background-color: rgb(249, 246, 241);
    flex: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    box-sizing:border-box;
    padding: 10vw 10vw 10vw 10vw;
    gap: 20px;
}

.sign-up-left-center {
    padding: 0vw 10vw 0vw 10vw;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

label, input{
    display: block;
}

.sign-up-left-center h1 {
    font-size: 42px;
}

.user-review {
    font-size: 28px;
    line-height: 42px;
}

.sign-up-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.sign-up-row img {
    width: 50px;
}

.sign-up-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up-column h1 {
    font-size: 18px;
} 

.sign-up-column p {
    font-size: 18px;
} 

.sign-up-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10vw 0vw 10vw; /* Match this up with middle container */
    font-size: 20px;
    color: rgb(125, 125, 125);
}

.arrow-back-to-campgrounds {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    cursor: pointer;
}

.arrow-back-to-campgrounds:hover {
    color: rgb(201, 174, 128);
    transition: all 0.3s ease 0s;
}

.toggle-sign-in-up {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.toggle-sign-in-up p {
    color: rgb(89, 89, 89);
    font-size: 18px;
}

.toggle-sign-in-up button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    color: rgb(37, 170, 223);
    text-decoration: underline solid rgb(37, 170, 223);  
    font-weight: bold;
    cursor: pointer;
}

.toggle-sign-in-up button:hover {
    color: rgb(201, 174, 128);
    text-decoration: underline solid rgb(201, 174, 128);
    transition: all 0.3s ease 0s;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.email-field, .password-field {
    border: none;
    outline: none;
    background: rgb(247, 247, 247);
    color: rgb(183, 183, 183);
    padding: 23px;
    border-radius: 0.3vw;
    font-size: 20px;
}

.email-field::placeholder, .password-field::placeholder {
    opacity: 1;
    color: rgb(183, 183, 183);
}

.sign-up-form label {
    color: rgb(89, 89, 89);
    font-size: 18px;
}

.create-an-account {
    border: none;
    outline: 0.1vw solid black;
    background: black;
    color: white;
    padding: 23px;
    border-radius: 0.3vw;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.create-an-account:hover {
    background: white;
    color: black;
    transition: all 0.3s ease 0s;
}

.login {
    border: none;
    outline: 0.1vw solid black;
    background: black;
    color: white;
    padding: 23px;
    border-radius: 0.3vw;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.login:hover {
    background: white;
    color: black;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1164px) {
    .sign-up-page-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .sign-up-left-center {
        padding: 0vw 10vw 0vw 10vw;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 42px;
    }
}
